extends ../partials/layout
block variables
  - var title = 'Irina Sorokina | UI/UX-focused web developer'
  - var description = 'Irina Sorokina is a UI/UX-focused web developer. She has an eye on design, small details and I practice minimalism in her work and life.'
block content
  .max-w-7xl.mx-auto
    div(class='sm:grid sm:grid-cols-2 sm:gap-2')
      div.mb-4(class='sm:p-10 sm:mb-0')
        h1.text-center.text-4xl.font-bold.text-gray-100.mb-4(class='sm:text-left sm:text-5xl md:text-6xl')
          span.block(class='xl:inline') Hey, I'm Irina!
        .text-base.text-gray-300(class='sm:mt-5 sm:text-lg sm:max-w-2xl sm:mx-auto md:mt-8 md:text-2xl lg:mx-0')
          p.mb-6
            | I am a
            span.inline-flex.items-center.rounded-md.font-medium.text-white.bg-orange-500(class='px-2 py-0.5 mx-2') UI/UX-focused web developer
            br
            | who loves travel, skiing and surfing.

          p.mb-6
            | I've visited 40 countries.
            br
            | Now live in Istanbul, Turkey. GMT+3

          p I have an eye on design, small details and I practice minimalism in my work and life.
          p.mb-6 Check my works below.
      div.self-center.justify-self-center.w-full.h-full.overflow-hidden
        .bg-bottom.bg-no-repeat.bg-cover.w-full.h-full.-rotate-45(style="background-image: url(img/IMG_3836.jpg);")

  include ../partials/current-work
  include ../partials/also-worked
  include ../partials/from-upwork
