a.btn-primary(href="https://www.upwork.com/freelancers/~01d2bc6c45c951b2ba" target="_blank")
  span.mr-1 Hire me
  svg.feather.feather-arrow-right.animate-bounce-x(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    line(x1='5' y1='12' x2='19' y2='12')
    polyline(points='12 5 19 12 12 19')
