.hidden(class="xl:block")
  .absolute.top-40.left-0.-ml-24.text-gray-300
    svg(width='55' height='54' viewbox='0 0 55 54' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M53.4519 11.7748C52.3733 13.7796 50.5151 15.4667 49.2659 17.4017C48.666 18.3308 47.7454 19.2707 47.4317 20.3051' stroke='currentColor' stroke-width='3' stroke-linecap='round')
      path(d='M35.647 7.09891L53.1354 12.4027' stroke='currentColor' stroke-width='3' stroke-linecap='round')
      path(d='M52.5125 13.0422C48.2247 13.3198 44.4967 14.4184 40.654 15.3527C36.9671 16.249 33.3264 17.2653 30.0067 18.5828C23.8984 21.0069 18.4011 24.1335 13.595 27.6131C12.5727 28.3533 11.7315 29.2619 10.8625 30.0983C10.0915 30.8404 9.14967 31.4753 8.48515 32.2771C7.33972 33.659 5.78649 34.8507 4.88769 36.3564C3.86627 38.0676 2.56869 39.7579 2.00003 41.633' stroke='currentColor' stroke-width='3' stroke-linecap='round')

    p.-ml-44
      img.w-auto.h-10(src='img/text.svg' alt='Carousel is CSS-Only')
