section.container.pt-24.mx-auto.max-w-3xl(class="md:px-12")
  h1.h1.mb-10.text-center What clients say about me:

  .text-center.my-4
    a.slider-link(href="#slide-1")
    a.slider-link(href="#slide-2")
    a.slider-link(href="#slide-3")

  .relative
    .slider
      .slides.pb-4
        #slide-1
          .py-8.px-6.text-gray-50.bg-gray-800.rounded-md(class="md:px-10")
            .mb-6(class="md:flex md:justify-between md:items-center")
              div
                p.font-medium.font-base UX/UI developer
                p.text-gray-400.text-sm Sep 27, 2019 - Apr 7, 2021

              include _upwork_stars

            .text-sm.italic
              p.mb-4 "Irina worked with us for a long period of time, over a year. She helped with the creation of our SaaS company. If we had a time frame on any tasks Irina would always meet these requirements, she always went above and beyond the task.
              p.mb-4 She knows a lot about her field of work, has great communication skills, and would always respond to messages fast.
              p.mb-4 Irina handles feedback very well and worked well with the entire team. She brought some good ideas to the project. Would hire her again.
              p Thank you Irina!"

        #slide-2
          .relative.py-8.px-6.text-gray-50.bg-gray-800.rounded-md(class="md:px-10")
            .mb-6(class="md:flex md:justify-between md:items-center")
              div
                p.font-medium.font-base Experienced JS+HTML developer needed
                p.text-gray-400.text-sm Jun 5, 2019 - Jul 19, 2019

              include _upwork_stars

            .text-sm.italic
              p "Irina is always a pleasure to work with! She is responsive, hard working and kind. Now after two projects completed, I know I can count on her anytime. So glad we got to work together again. Highly recommend! In conjunction with Anton Shubin and Partners, I felt very taken care of and I'm so pleased with the end result! Thank you! A+++"

        #slide-3
          .relative.py-8.px-6.text-gray-50.bg-gray-800.rounded-md(class="md:px-10")
            .mb-6(class="md:flex md:justify-between md:items-center")
              div
                p.font-medium.font-base Help needed with UI of our website.
                p.font-medium.font-base Long-term opportunity for good contractor
                p.text-gray-400.text-sm Mar 25, 2019 - Apr 10, 2019

              include _upwork_stars

            .text-sm.italic
              p "Irina has shown to be a great team player with strong skills in HTML/CSS/SASS and styling. She also has great communication, making sure that we updated daily with her progress and asking the right questions at the time. We are looking forward to working with her on the rest of the project and into the future."

    include _upwork_quotes
    include _upwork_fun-arrow

  .mt-4.text-gray-50
    include _upwork_top

